$(".calendar").css("background-image", "url('/images/calendar.png')"); 
$("#calendar_#{@month}").css("background-image", "url('/images/calendar_actived.png')"); 
$("#presence_list_area").html("#{escape_javascript(render 'edit')}")
