.filter_bar
  - filter_id = request.path.gsub("/",'_')
  = label_tag "Filtrar"
  = text_field_tag filter_id
  
  :javascript
    $(document).ready(function() {
      var options = {additionalFilterTriggers: [$('##{filter_id}')], filter: 'false'};
      $('.list').tableFilter(options);
    });
    