*{outline:none;}

body, html{
  margin:0;
  padding:0;
  background: url('/images/bg.jpg') repeat scroll 0 0 #D8DFE6;
  font-size:13px;
  font-family:Arial, sans-serif;
  color:#333;
}

li{
  list-style: none;
}

a{
  outline:none;
  color: #981C1E;
}

.commentsLeft{
  position:relative;
  width:45%;
  float:left;
}

.commentsRight{
  position:relative;
  width:45%;
  float:left;
}

#main{
  width: 100%;
}

div.intranet-menu{
  height:30px;
  width:100%;
  background: url("/images/menu_bg.png") bottom;
  border-bottom: 1px solid #D7D7D7;
}

ul.intranet-menu{
  margin:0;
  padding:0;
  margin:0 auto;
  display:block;
  width:1000px;
  height:30px;
  background: url("/images/menu_bg.png") bottom;
}

ul.intranet-menu li{
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #FFFFFF;
  height: 30px;
  float: left;
  list-style:none;
  margin:0;
  padding:0;
}

ul.intranet-menu li a{
  width: auto;
  padding: 7px 20px 0px 20px;
  height:23px;
  float: left;
  text-decoration:none;
  font-weight: bold;
}

ul.intranet-menu li a:hover{background:#fefefe; 
}

#header_wrapper{
  height: 85px;
  margin: 0 auto;
  width:100%;
  padding:10px 0px;
  overflow: hidden;
  background:#fff;
  box-shadow: 0 1px 2px 0 #4A4A4A;
  -webkit-box-shadow: 0 1px 2px 0 #4A4A4A;
  -moz-box-shadow: 0 1px 2px 0 #4A4A4A;
}

#header{
  margin: 0 auto;
  width: 1000px;
}

.logo_header{
  width:705px;
  height: 85px;
  float: left;
  margin-left: 20px;
  background: url("/images/cabecalho_sfi.jpg") no-repeat scroll 0 0 #fff;
}

.sao_francisco_logo{
  width:705px;
  height: 85px;
  float: left;
  margin-left: 20px;
  background: url("/images/cabecalho_sfi_sao_francisco.jpg") no-repeat scroll 0 0 #fff;
}

#content_wrapper{
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#content{
  box-shadow: 0 1px 2px 0 #4A4A4A;
  -webkit-box-shadow: 0 1px 2px 0 #4A4A4A;
  -moz-box-shadow: 0 1px 2px 0 #4A4A4A;
  width: 100%;
  height: 100%;
  background-color: #E3E8EC;
}

#content #left_menu_wrapper{
  float: left;
  min-height:600px;
  width: 199px;
  background-color: #E3E8EC;
  box-shadow: 0 0 1px #FFFFFF inset;
  -webkit-box-shadow: 0 0 1px #FFFFFF inset;
  -moz-box-shadow: 0 0 1px #FFFFFF inset;
}

#left_menu{
  
}

.menu_title{
  background: url("/images/menu_title.png") repeat scroll 0 0 transparent;
  float: left;
  height: 33px;
  width: 199px; 
}

.menu_title a{
  text-decoration: none;
  padding: 10px 20px;
  float: left;
  font-weight: bold;
  font-size: 13px;
}

.sub_menu a{
  float: right;
  padding: 10px 20px;
  color: #4B81C1;
  text-decoration: none;
}

.sub_menu a:hover{
  text-decoration: underline;
}

#content{
  width: 1000px;
  margin:0 auto;
  position:relative;
}

#content #main_column_wrapper{
  width: 1000px;
  min-height: 600px;
  float: right;
  background-color: #fff;
  border-left: 1px solid #B8CCD9;
}

#main_column{
  padding: 20px;
  padding-top: 0px;
}

#main_column a{
  text-decoration: none;
}

#main_column a:hover{
  text-decoration: underline;
}

div.menu-aplicacao{
  background: url("/images/menu_bg.png") repeat-x scroll left bottom transparent;
  border-bottom: 1px solid #bbbbbb;
  height: 0px;
  width:100%;
  -moz-box-shadow: 0px 1px 0px #eee;
  -webkit-box-shadow: 0px 1px 0px #eee;
  box-shadow: 0px 1px 0px #eee;
}

ul.menu-aplicacao{
  background: url("/images/menu_bg.png") repeat-x scroll left bottom transparent;
  height: 25px;
  width:1000px;
  margin:0 auto;
  padding:0;
}

ul.menu-aplicacao li{
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #FFFFFF;
  height: 25px;
  float: left;
  list-style:none;
  margin:0;
  padding:0;
}

ul.menu-aplicacao li a{
  width: auto;
  padding: 5px 20px 0px 20px;
  height:20px;
  float: left;
  text-decoration:none;
  font-weight: normal;
}

ul.menu-aplicacao li a:hover{background:#fefefe; 
}


h1.title{
  background: url("/images/title_bg.png") repeat scroll 0 0 transparent;
  float: left;
  display:block;
  height: 26px;
  width:980px;
  margin:0px 0px 20px -20px;
  padding:10px 0px 0px 20px;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  color:#142e53;
}




#footer_wrapper{
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  height:77px;
  background:#4b80c1;
  
}
#footer{
  margin: 0 auto;
  width: 100%;
  height: 77px; 
  float: left;
  background: url("/images/rodape_ferrous_Cor.jpg") no-repeat scroll 0 0 #fff;
}

.clearfix { 
  clear: both;
  display: block;
  padding-bottom: 30px;
}


/*****************************************************************************/

.dataTables_wrapper{
  float:left;
}

.dataTables_paginate{
  margin-left:-3px;
  margin-top:3px;
  position:relative;
  margin-top:20px;
}

.dataTables_paginate a.paginate_active{
    background: url('/images/novo.png') left top;
  border: 1px solid 
  #3079ED;
  color: #fff !important;
  font-size:13px;
  border-top:1px solid #5f9cf2;
  box-shadow: 0 -1px 0px 0 #3679e5;
  color:#fff !important;
  cursor:pointer !important;
}

.dataTables_paginate a{
  margin:3px;
  padding:4px 8px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  background: url('/images/novo.png') left bottom;
  border: 1px solid 
  #ccc;
  font-size:13px;
  box-shadow: 0 -1px 0px 0 #fff;
  cursor:pointer; 
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  color:#333 !important;
  font-weight:normal;
}

.dataTables_paginate a:hover{
  background: url('/images/novo.png') left top;
  border: 1px solid 
  #3079ED;
  color: #fff !important;
  font-size:13px;
  border-top:1px solid #5f9cf2;
  box-shadow: 0 -1px 0px 0 #3679e5;
  color:#fff !important;
  cursor:pointer !important;
}

.actions{
  position:absolute;
  right:0;
  width:500px;
}

.actions a{
  right:0px;  
  position:relative;
  float:right;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 16px;
  min-width: 54px;
  padding: 9px 44px 9px 22px;
  text-align: center;
  text-decoration: none !important;
  background: url('/images/novo.png') right top;
    background: url('/images/novo.png') right -34px;
  border: 1px solid 
  #3079ED;
  color: #fff !important;
  font-size:13px;
  border-top:1px solid #8eb3ed;
  box-shadow: 0 -1px 0px 0 #3679e5;
  cursor:pointer;
  margin-bottom: 0px !important;
}

.actions a.back_link{
  right:0px;  
  position:relative;
  float:right;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 16px;
  min-width: 54px;
  padding: 9px 44px 9px 22px;
  text-align: center;
  text-decoration: none !important;
  background: url('/images/voltar.png') right top;
    background: url('/images/voltar.png') right -34px;
  border: 1px solid 
  #3079ED;
  color: #fff !important;
  font-size:13px;
  border-top:1px solid #8eb3ed;
  box-shadow: 0 -1px 0px 0 #3679e5;
  cursor:pointer;
  border-left:0px solid #ccc;
}

.actions a.back_link:hover{
  background: url('/images/voltar.png') right top;
  cursor:pointer;
}

.actions .presence_lists a, .action_back .presence_lists a{
  border-right:0px solid #ccc !important;
  padding-right:22px;
  background: url('/images/novo.png') left -34px;
}


.actions .presence_lists a:hover, .action_back .presence_lists a:hover{
  background: url('/images/novo.png') left top;
}


.actions a:hover{
  background: url('/images/novo.png') right top;
  cursor:pointer !important;
}


.dataTables_filter{
  float:right;
  display:block;
}

.dataTables_filter input{
  border: 1px solid #ccc;
  padding:4px;
  background:none;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.dataTables_filter input:focus{
  border: 1px solid #3c76d4;
  outline:none;
}

.dataTables_length{
  float:left;
}

table{
  border-collapse: collapse;
  border-spacing:0px;
  z-index:1;
  width:960px;
  float:left;
  margin-top:20px;
}

thead{
  height:40px
}

thead th{
  margin-bottom:1px;
  z-index:1;
  padding: 0px 15px;
}

thead tr{
  height:40px;
  background: url("/images/thead-bg.png") repeat scroll 0 0 transparent;
  color:#fff;
  text-align:left;
}

thead tr:hover{
  cursor:default;
}

tr.more-click td{
  box-shadow: 0 -1px 0px 0 #fff;
  -webkit-box-shadow: 0 -1px 0px 0 #fff;
  -moz-box-shadow: 0 -1px 0px 0 #fff;
  border-bottom: 1px solid #d9d9d9;
  padding:15px 15px;
  margin:0;
  border-right: 1px solid #e8e8e8;
}

table#presence_list tbody tr td{
  box-shadow: 0 -1px 0px 0 #fff;
  -webkit-box-shadow: 0 -1px 0px 0 #fff;
  -moz-box-shadow: 0 -1px 0px 0 #fff;
  border-bottom: 1px solid #d9d9d9;
  padding:10px 10px;
  margin:0;
  border-right: 1px solid #e8e8e8;
}


table#presence_list tr td{
  text-align:center;
}

table#presence_list tbody tr td.student{
  text-align:left;
}

tr.more-click .first-td{
  border-left: 1px solid #e5e5e5;
}

tr.more-click .td-editar{
  border-right:none;
}

tbody tr.more-click{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image:    -moz-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image:     -ms-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image:      -o-linear-gradient(top, #fcfcfc, #eeeeee); 
  background-image:         linear-gradient(to bottom, #fcfcfc, #eeeeee);  
}

tbody tr.more-click:hover{
  background:#fcfcfc;
  cursor:pointer;
}

.apagar{
  background:#ef6357;
  color:#fff !important;
  display:block;
  font-size:10px;
  padding: 5px;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.apagar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

.editar{
  background:#5f98f1;
  color:#fff !important;
  display:block;
  font-size:10px;
  padding: 5px;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  margin-right:-15px;
}

.editar:hover{
  background:#2e77ec;
  color:#fff !important;
  text-decoration:none !important;
}

.lista{
background: #888;
color: white !important;
display: block;
font-size: 10px;
padding: 5px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
margin-right: 0px;
}

.lista:hover{
  background:#777;
  text-decoration:none !important;
}

.visualizar{
  background:#ef6357;
  color:#fff !important;
  display:block;
  font-size:10px;
  padding: 5px;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.visualizar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

.dataTables_info{
  margin-top:40px;
}

.more-click{
  height:50px; 
  width:960px; 
  bottom:0;
}

.filter_bar{
  float: right;
}

.west{
  width: 660px;
  float: left;
  padding: 10px;
}

.east{
  width: 300px;
  float: right;
  background-color: gray;
}

.birthdays_dates{
  padding: 10px;
}

.birthdays_dates_wrapper{
  width: 300px;
  background-color: #EBF3EB;
}

.field label{
  display: inline;
  float: left;
  font-weight: bold;
  line-height: 28px;
  overflow: hidden;
  padding: 0 20px 0 0;
  text-align: right;
  width: 300px;
}

.div{
  float: left;
  width: 100%;
  display: inline;
}

.form_actions a{
  font-family: 'OpenSansRegular';
  cursor: pointer;
  float: right;
}

.form_actions .delete a{
  color: #D64937 !important;
}

.form_actions .delete a:hover{
  color: #D14130 !important;
}

.form_actions .add a{
  color: #3A8E00;
  margin-top: 10px;
  margin-right:-10px;
}

.form_actions .add a:hover{
  color: #3B8E00;
}

.profile_form .form_actions .add a{
  color: #3A8E00;
  margin-top: 10px;
  margin-right:10px;
}

.profile_form .form_actions .add a:hover{
  color: #3B8E00;
}

.gray_border{
  border-bottom: 1px solid #A8A8A8;
  margin: 0px -20px;
  width: 1000px;
  float: left;
}

.profile_form .gray_border{
  border-bottom: 1px solid #A8A8A8;
  margin: 0px -20px;
  width: 729px;
  float: left;
}

.gray_border.with_margin_bottom{
  margin-bottom: 20px;
}

.gray_border h2{
  font-weight: bold;
  line-height: 140%;
  margin: 0px;
  margin-left: 20px;
}

input[type="checkbox"]{
  width: auto !important;
  margin-right: 10px !important;
  padding: 0px !important;
  height: auto !important;
}

.submit_button{
  float: left;
  margin-top: 15px;
  margin-left:-20px;
  padding-top:10px;
  bottom:15px;
  border-top: 2px solid #111;
  width:1000px;
}

.submit_button input{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.profile_form .submit_button{
  float: left;
  margin-top: 10px;
  position:fixed;
  bottom:15px;
  margin-left:870px;
  width:100px;
  border:none;
}

select {
  margin-top: 5px;
  margin-bottom:10px;
}

.fields{
  background-color: #F5F5F5;
  float: left;
  width: 1000px;
  margin: 0px -20px;
  padding: 10px 0px;
  border-bottom: 1px solid #A8A8A8;
}

.fields .field{
  margin-left: 20px;
}

.fields a{
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.checkbox_fields{
  margin: 20px 0px;
  float: left;
  width: 100%;
}



form.formtastic legend {
  color: #000000;
  float: left;
  white-space: normal;
  width: 100%;
}

fieldset{border: medium none;}


fieldset.choices{
  border: 0px solid #CCCCCC !important;
  margin: 10px 0px !important;
  padding: 0px !important;
  width: auto !important;
}


input{
  margin-bottom:10px;
}

.hidden{
  display: none;
}

#dimensions_menu_wrapper{
    background: none repeat scroll 0 0 #eee;
    float: right;
    margin: 83px 0px 0px 0px;
    position: absolute;
    right: 0;
    width: 260px;
    padding: 0px 0px 0px 10px;
    border-top: 1px solid #c0c0c0;
}

ul.dimensions_menu{
  position:fixed;
  float: right;
  z-index: 100;
  margin:0;
  padding:0;
  margin:10px;
  width:250px;
  top:195px;
}

ul.dimensions_menu li{
  margin:0px 0px;
  padding:8px 10px;
  background: url("/images/menu_bg.png") repeat scroll left bottom transparent;
  float:right;
  width:100%;
  cursor:pointer;
  border-bottom: 1px solid #c0c0c0;
}

ul.dimensions_menu li:hover{
  background:#fefefe; 
}

#error_explanation{
  background-color: #9B281E;
  background-image: -moz-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -webkit-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -ms-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -o-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 0 0 0 transparent, 0 0 2px rgba(0, 0, 0, 0.3);
}

.crew_profile_scholar_info_course{ width: 300px;}

.post_wrapper{
  border: 5px solid #F8F8F8;
  float: left;
  margin: 0 0 15px;
}

.post{
  border: 1px solid #D7D7D7;
  width: 640px;
}

.post_title{
  border-bottom: 1px solid #EBEDEF;
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}

.west h1.title{
  background: url("/images/title_bg.png") repeat scroll 0 0 transparent;
  color: #142E53;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  margin-left: -10px;
  margin-top: -10px;
  padding: 10px 0 0 20px;
  text-transform: uppercase;
  width: 680px;
}

.right_menu{
  display: inline;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.right_menu li{
  float: left;
  margin-left: 10px;
}

.right_menu a{
  float: left;
  margin-top: 5px;
}

thead tr.filters{display: none;}

.action_back a{
  right:0px;  
  position:relative;
  float:right;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 16px;
  min-width: 54px;
  padding: 9px 44px 9px 22px;
  text-align: center;
  text-decoration: none !important;
  background: url('/images/voltar.png') right top;
    background: url('/images/voltar.png') right -34px;
  border: 1px solid 
  #3079ED;
  color: #fff !important;
  font-size:13px;
  border-top:1px solid #8eb3ed;
  box-shadow: 0 -1px 0px 0 #3679e5;
  cursor:pointer;
}

.action_back{
  position:absolute;
  right:0;
  width:500px;
}

.action_back a:hover{
  background: url('/images/voltar.png') right top;
  cursor:pointer !important;
}

.fields_wrapper{
  padding: 20px;
}

.choices-group li{
  float: left;
}

.field{
  width: 100%;
  float: left;
}

#formframe div{
  margin-bottom: 20px;
}

#formframe .fields, #formframe .fields .fields_wrapper{
  margin-bottom: 0px !important;
}

#formframe .form_actions .add{
  margin-bottom: 20px;
  float: right;
  width: 100%;
}

#formframe label{
  font-weight: bold;
}

li.choice label{
  font-weight: normal !important;
}

#formframe legend label{
  font-weight: bold !important;
}

#show_info p{
  width: 100%;
}

.invisible{display: none;}

.odd{
  background:#f2f2f2;
  padding:10px;
  margin:0;
}

.even{
  background:#ffffff;
  padding:10px;
  margin:0;
}

.more-info{
  position:relative;
  width:960px; 
  background:#fefefe;
  bottom:0;
  margin-top:30px;    
}

.more-info div{
  position:relative;
  display:none;
  border-bottom: 1px solid #d9d9d9;
  padding:0px;
}

.more-info p{
  position:relative;
}

.more-info p span.info{
  display:block;
  min-width:200px;
  min-height:20px;
  margin-top:10px;
  position:relative;
}

.lecture_day{
  float: left;
}

.lecture_day label{
  width: auto !important;
  float: none !important;
}

label.week_day{
  width: 150px !important;
  float: left !important;
}

.lecture_day input{
  width: 40px !important;
}

.new_lecture_day select{
  margin-right: 10px;
}

.new_lecture_day div label{
  width: 150px;
  float: left;
}

.new_lecture_day input{
  width: 95px;
}

.new_lecture_day input[type="submit"]{
  clear: both;
  float: left;
}

.cancel{
  background:#A0615C;
  color:#fff !important;
  display:block;
  font-size:10px;
  padding: 5px;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.cancel:hover{
  background:#811810;
  color:#fff !important;
  text-decoration:none !important;
}

.uncancel{
  background:#43B757;
  color:#fff !important;
  display:block;
  font-size:10px;
  padding: 5px;
  -webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.uncancel:hover{
  background:#467B4F;
  color:#fff !important;
  text-decoration:none !important;
}

#presence_list input[type="checkbox"]{
  margin: 0px !important;
}

.title .presence_lists{
  border-left: 1px solid #B0B1B5;
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 16px;
  margin-bottom: 0 !important;
  margin-top: -10px;
  min-width: 54px;
  padding: 10px;
  position: absolute;
  margin-left: 10px;
}


.presence_list{
  float: left;
  margin-bottom: 20px;
}

.presence_list .calendar{
  background: url("/images/calendar.png") no-repeat scroll 0 0 transparent;
  color: #142E53;
  display: block;
  float: left;
  width: 50px;
  height: 49px;
  margin-right: 10px;
}

.calendar .year{
  font-size: 15px;
  font-weight: bold;
  margin-left: 9px;
  margin-top: 20px;
  position: absolute;
}

.calendar .month a{
  font-size: 14px;
  font-weight: normal;
  margin-left: 17px;
  margin-top: 20px;
  position: absolute;
  color: #333;
}

.calendar .month a:hover{
  color: #000;
  text-decoration: none !important;
}

#presence_list_area{
  float: left;
  width: 100%;
}

a.more{
  display:block;
  position:absolute;
  margin-top:-22px;
  margin-left:-14px;
  width:700px;
  height:58px;
}

.filter_bar input{
  outline:none;
  height:28px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding:0px 7px 0px 7px;
  color:#555;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  background:#fff;
  margin-top:6px;
}

.filter_bar input:focus{
  border: 1px solid #2c6fec;
}
#report_form {
  float: left;
  width: 100%;
}

#report_form #rooms_div{
  float: left;
}

#report_form select{
  margin-left: 10px;
  float: left;
}

#report_form #generate_report{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

#report_container{
  float: left;
  margin-top: 30px;
}

#report_container .spinner{
  margin-left: 460px;
  margin-top: 50px;
  float: left;
  left: 0 !important;
}

#report_container{
  margin: 0 auto;
  width: 100%;
}