body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

#formframe label{
	font-family: 'OpenSansRegular';
}

#formframe{
	width:auto;
	margin:0 auto;
	padding:0;
}

#formframe input{
	outline:none;
	height:28px;
	border: 1px solid #c8c8c8;
	font-family: 'OpenSansRegular';
	padding:0px 7px 0px 7px;
	color:#555;
	-webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	background:#fff;
}

#formframe input[type=submit]{
	padding: 7px 15px;
	height: 35px;
	font-size:1.4em;
	font-weight:bolder;
	text-transform: uppercase;
	letter-spacing: -.015em;
	color:#fff;
	border-color:#3a77a4;
	background:#67a5ff;
	/* gradient */
	background: -moz-linear-gradient(top, #67a5ff, #5e9bf2);
	background: -webkit-linear-gradient(top, #67a5ff, #5e9bf2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a5ff', endColorstr='#5e9bf2');
	/* corner */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* shadow */
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size:14px;
}

#formframe input[type=submit]:hover{
	background:#5e9bf2;
	/* gradient */
	background: -moz-linear-gradient(top, #5495ff, #4788ee);
	background: -webkit-linear-gradient(top, #5495ff, #4788ee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5495ff', endColorstr='#4788ee');
	/* shadow */
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
	box-shadow:  0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
}

#formframe .actions{
	position:absolute;
	float:right;
	background:#ccc;
	right:119px;
	top:200px;
	width:auto;
}

#formframe .actions input[type=submit]{
position:fixed;
bottom:-10px;
width:119px;
}

#formframe input:focus{
	border: 1px solid #2c6fec;
}

#formframe input.submit{
	border: 1px solid #c8c8c8;
	padding:5px 16px 5px 16px;
	height:30px;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;
	-webkit-box-shadow: 0px 1px 0px 0px #fff; 
    -moz-box-shadow: 0px 1px 0px 0px #fff; 
    box-shadow: 0px 1px 0px 0px #fff;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#formframe input.submit:hover{
	color:#3079ed;
	cursor:pointer;
}

#formframe input.submit:active{
	background-position:0px -30px ;
	border: 1px solid #173988;
	color:#fff;
	text-shadow: 0px 1px 0px #173988;
	cursor:pointer;
}

#formframe textarea{
	outline:none;
	line-height:18px;
	border: 1px solid #c8c8c8;
	font-family: 'OpenSansRegular';
	padding:7px 7px 7px 7px;
	min-height:100px;
	margin:0;
	color:#555;
	-webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-size:13px;
}

#formframe textarea:focus{
	border: 1px solid #2c6fec;
}

#formframe button{
	border: 1px solid #c8c8c8;
	padding:7px 15px 6px 15px;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;


	-webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;

	-webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
}

#formframe button:hover{
	color:#3079ed;
	cursor:pointer;
}

#formframe button:active{
	background-position:0px -30px ;
	border: 1px solid #173988;
	color:#fff;
	text-shadow: 0px 1px 0px #173988; 
	cursor:pointer;
}

#formframe fieldset{
	width:100%;
	margin: 15px 0px;
	padding: 8px 5px;
	border: 1px solid #ccc;
}

/******************************************************************************************/


#formframe .tzSelect{	
	display:inline-block;
	position:relative;
}

#formframe .tzSelect .selectBox{
	position:absolute;
	
	width:100%;
	height:100%;	
	text-shadow:1px 1px 0 #EEEEEE;
	height:16px;
	cursor:pointer;
	position:relative;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;
	padding:6px 16px 6px 8px;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#formframe .tzSelect .selectBoxDisable{
	position:absolute;
	
	width:100%;
	height:100%;	
	text-shadow:1px 1px 0 #EEEEEE;
	height:16px;
	cursor:pointer;
	position:relative;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;
	padding:8px 16px 6px 8px;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#formframe .tzSelect .selectBox:hover{}

#formframe .tzSelect .selectBoxArrow{
	cursor:pointer;
	position:absolute;
	display:block;
	width:32px;
	height:30px;
	background:#ccc;
	background: url(bg_button.png) -3px -60px no-repeat;
	top:0px;
	right:-25px;
	border:none;
}

#formframe .tzSelect .selectBoxArrowDisable{
	cursor:pointer;
	position:absolute;
	display:block;
	width:32px;
	height:30px;
	background:#ccc;
	background: url(bg_button.png) -3px -60px no-repeat;
	top:0px;
	right:-25px;
	border:none;
}

#formframe .tzSelect .selectBoxArrow.expanded,  .tzSelect .selectBoxArrow:hover{
	background: url(bg_button.png) -37px -60px no-repeat;	
}

#formframe .tzSelect .dropDown{
	position:absolute;
	top:30px;
	left:0;
	width:100%;
	padding:0px 26px 0px 0px;
	list-style:none;
	margin:0px;
}


#formframe .tzSelect li{
	width:100%;
	cursor:pointer;
	position:relative;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;
	padding:7px 16px 6px 8px;
	border: 1px solid #c8c8c8;
	border-top:none;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index:10;
}

#formframe .tzSelect li:hover{
	background: #FFF url() 0 0 no-repeat;
	color:#3079ed;
}

/********************************************************************************/

#formframe .styleCheck, .styleRadio{
	padding:5px 0px 0px 26px; 
	font-family: 'OpenSansSemibold';
	color:#333;
}

#formframe .styleCheck.floatLeft, #formframe .styleRadio.floatLeft{ 
	float:left;
	margin-right:15px;
}

#formframe .styleRadio{ 
	height: 20px; 
	margin:0; 
	display:block; 
	background: url(bg_button.png) 0px -205px no-repeat; 
}

#formframe .styleCheck{
	height: 20px; 
	margin:0; 
	display:block; 
	background: url(bg_button.png) 0px -153px no-repeat;
}

#formframe label.c_on{ 
	background: url(bg_button.png) 0px -179px no-repeat; 
}

#formframe label.r_on{
	background: url(bg_button.png) 0px -231px no-repeat; 
}

#formframe .styleCheck input, .styleRadio input{
	position: absolute; left: -9999px;
}


/***********************************************************************************/

#pagination{
	list-style:none;
}

#pagination li{
	display:block;
	background: #eee;
	border: 1px solid #ccc;
	float:left;
	border: 1px solid #c8c8c8;
	padding:6px 8px 4px 8px;
	background:url(bg_button.png);
	font-family: 'OpenSansSemibold';
	color:#333;
	-webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:0px 2px 0px 2px;
}

#pagination li:hover{
	color:#3079ed;
	cursor:pointer;
}

#pagination li:active{
	color:#fff;
	background-position:0px -30px ;
	border: 1px solid #173988;
	cursor:pointer;
}

.pagPrev{
	text-indent:-9999px;
	background:url(bg_button.png) 3px -122px !important;
	width:7px;
}

.pagPrev:hover{
	background:url(bg_button.png) -15px -122px !important;
}

.pagPrev:active{
	text-indent:-9999px;
	background:url(bg_button.png) 3px -122px !important;
	width:7px;
}

.pagItem{
	
}

.pagNext{
	text-indent:-9999px;
	background:url(bg_button.png) 38px -122px !important;
	width:7px;	
}

.pagNext:hover{
	background: #fff url(bg_button.png) 20px -122px !important;	
}

.pagNext:active{
	color:#fff;
	background-position:0px -30px ;
	border: 1px solid #173988;
	cursor:pointer;	
}
