noty({'text':'#{escape_javascript(render 'show')}',
'layout':'center','type':'info','animateOpen':{'height':'toggle'},
'animateClose':{'height':'toggle'},'speed':500,'timeout':false,
'closeButton':true,'closeOnSelfClick':false,'closeOnSelfOver':false, 'modal':true});