:javascript
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: '#{@graphic_title}'
      },
      tooltip: {
        formatter: function() {
                           return '<b>'+ this.point.name +'</b>: '+ this.y;
                        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
                                 return this.point.name +': '+ Math.round(this.percentage * 10)/10 +' %';
                              }
          }
        }
      },
      series: [{
        type: 'pie',
        name: '',
        data: [#{@data}
        ]
      }]
    });
  });

#container
.second_report_links
  = generate_graphic_links(:column => @column, :core_id => @core_id, :room_id => @room_id).html_safe
  = link_to "Visualizar em PDF", show_report_path(:column => @column, :core_id => @core_id, :format => :pdf)
#second_report

:javascript
  $(document).ready(function() {
    $("tspan").map(function(){
      if ($(this).text() == "Highcharts.com"){
        $(this).remove();
      }
    })
  });

:javascript
  $(document).ready(function() {
    $('.second_report_link').click(function() {
      $("#second_report").html("")
      show_spinner('second_report');
    });
    
  });