:javascript
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'second_container',
        type: 'column'
      },
      title: {
        text: '#{@second_graphic_title}'
      },
      xAxis: {
        categories: [#{@categories}]
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Total de alfabetizandos'
        },
        stackLabels: {
          enabled: true,
          style: {
            fontWeight: 'bold',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
          }
        }
      },
      legend: {
        align: 'right',
        x: -100,
        verticalAlign: 'top',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        formatter: function() {
          return '<b>'+ this.x +'</b><br/>'+
            this.series.name +': '+ Math.round(this.percentage * 10)/10 +'%' +'<br/>'+
            'Total: '+ this.y + ' de ' + this.point.stackTotal;
        }
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: true,
            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
          }
        }
      },
      series: [#{@second_graphic_data}]
    });
  });

#second_container
.second_report_links
  = link_to "Visualizar em PDF", show_full_report_path(:column => @column, :second_column => @second_column, :core_id => @core_id, :room_id => @room_id, :format => :pdf), :style => "float: right;"

:javascript
  $(document).ready(function() {
    $("tspan").map(function(){
      if ($(this).text() == "Highcharts.com"){
        $(this).remove();
      }
    })
  });