= form_tag show_report_path, :remote => true, :id => "report_form" do
  = select_tag :core_id, options_for_select(@cores), :include_blank => "Selecione um núcleo"
  #rooms_div
    = render 'rooms'
  = submit_tag 'Gerar relatório', :id => "generate_report"

:javascript
  $(document).ready(function() {
    $("#core_id").change(function() {
        var value = $(this).val();
        var address = "/report_update_rooms/" + value
        $.ajax({url: address});
    });
  });

#report_container

:javascript
  function show_spinner(div){
    var opts = {
      lines: 13, // The number of lines to draw
      length: 7, // The length of each line
      width: 4, // The line thickness
      radius: 10, // The radius of the inner circle
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById(div);
    var spinner = new Spinner(opts).spin(target);
  }

:javascript
  $(document).ready(function() {
    $('#generate_report').click(function() {
      $("#report_container").html("")
      show_spinner('report_container');
    });
    
  });

  
