%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
- js_files = ['jquery.min.js', 'jquery_ujs.js', 'jquery-rails.js', 'picnet.table.filter.min.js', 'jquery.noty.js', 'jquery.maskedinput.js', 'spin.js', 'highcharts.js', 'application.js']
- js_files.each do |js_file|
  = wicked_pdf_javascript_include_tag js_file

= render 'header'

:javascript
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        width: 750,
        plotShadow: false
      },
      title: {
        text: '#{@graphic_title}'
      },
      tooltip: {
        formatter: function() {
                           return '<b>'+ this.point.name +'</b>: '+ this.y;
                        }
      },
      plotOptions: {
        pie: {
          animation: false,
          shadow: false,
          enableMouseTracking: false,
          allowPointSelect: false,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            formatter: function() {
                                 return this.point.name +': '+ Math.round(this.percentage * 10)/10 +' %';
                              }
          }
        }
      },
      series: [{
        type: 'pie',
        name: '',
        data: [#{@data}
        ]
      }]
    });
  });

#container

:javascript
  $(document).ready(function() {
    $("tspan").map(function(){
      if ($(this).text() == "Highcharts.com"){
        $(this).remove();
      }
    })
  });
